p.animation{
	font-size:40px;
	width:960px;
	animation-name:dipu;
	font-weight:bold;
	font-style:italic;
	position:relative;
	
	animation-duration:5s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	
}
@keyframes dipu{
	from{left:0;top:0; color:red;}
	to{left:960px;top:0;color:green;}
}